*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
build/
dist/

# Test coverage
coverage.out

# Compiled Go binaries
/archup
/cmd/archup/archup
cmd/*/[a-z]*

# Markdown files at root (except README and CHANGELOG)
/*.md
!README.md
!CHANGELOG.md
!LICENSE.md
!RELEASING.md


*.qcow2
*.iso

# Compiled binaries in root
/archup-installer
