*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
build/
dist/

# Test coverage
coverage.out

# Markdown files at root (except README and CHANGELOG)
/*.md
!README.md
!CHANGELOG.md
!RELEASING.md


*.qcow2
*.iso
